body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    position: relative;
    background-image: url("../img/pattern.png");
    background-color: cornflowerblue;
    height: 100px;
}

#logo {
    position: absolute;
    bottom: 0;
    width: 350px;

}

h1 {
    font-size: 55px;
}

#header-title {
    font-size: 50px;
    color: white;
}

.subtitles {
    color: lightgray;
    font-size: 30px;
}

.cfb-text {
    color: cornflowerblue;
}

.highlighted {
    background-color: yellow;
}


/* Table */
table {
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #69dcff;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

table tr:nth-child(odd) {
    background-color: #008cff2e;
}